datasets/train/images/*
datasets/train/labels/*

!datasets/train/images/.gitkeep
!datasets/train/labels/.gitkeep

datasets/valid/images/*
datasets/valid/labels/*

!datasets/valid/images/.gitkeep
!datasets/valid/labels/.gitkeep

datasets/test/*
!datasets/test/.gitkeep

runs/*

**labels.cache
*.pt
*.jpg
*.png